{% extends "admin/base.html.twig" %}

{% block main %}

	<h2>Les produits qui correspondent à votre recherche "{{ term }}" sont :
	</h2>
	{% for category in categories %}
		<a href="{{ path("show_category", {'id' : category.id } ) }}">
			<h3>{{category.name}}</h3>
		</a>
	{% endfor %}

{% endblock %}
