<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>

		<header>
			<h1>TEST SYMFONY INTERMEDIAIRE</h1>
			<h2>{{batman}}</h2>
			<h2>{{ front }}</h2>
			{% for gcategory in gcategories.getAll() %}
				<h4>{{ gcategory.name }}</h4>
			{% endfor %}
		</header>

		<main>
			{% block main %}{% endblock %}
		</main>

		{#
		
				Exercice : créer une variable globale qui va contenir tous les products et l'afficher sur toutes les pages admin, 
				Bonus faire la même chose avec licence
				
				#}

	</body>
</html>
