{% extends "front/base.html.twig" %}

{% block main %}

	<h2>Les produits qui correspondent à votre recherche "{{ term }}" sont :
	</h2>
	{% for product in products %}
		<a href="{{ path("front_product_show", {'id' : product.id } ) }}">
			<h3>{{product.name}}</h3>
		</a>
	{% endfor %}

{% endblock %}
